<br>
    <div class="container">
 <div class="row">
 <div class="col s12">Your upcoming meals</div>
      </div>

     <div class="row">
         {{#each aryDates as |date|}}
         <div class="col l12">
             
           <b> {{date.selectedDate}} </b>
           <p>Breakfast: {{date.breakfast}}</p>
           <p>Lunch: {{date.lunch}}</p>
           <p>Dinner: {{date.dinner}}</p>
           <p>Snack: {{date.snack}}</p>
             
             </div>
             <br>
        {{!-- <div class="col">1</div>
      <div class="col">2</div>
      <div class="col">3</div>
      <div class="col">4</div>
      <div class="col">5</div>
      <div class="col">6</div>
      <div class="col">7</div> --}}
      {{/each}}
  </div>
       </div>